<div id="topMenuBox">
	<div class="content">
		<p><b>coco</b></p>
		<p><a href="{{ path('default_home') }}">Revenir au menu</a></p>
		<p><a href="javascript:void(0);" onclick="set_dialog({title:'Aide'},'index/aide')">Aide</a></p>
		<div class="smaller2">version a0.0.3</div>
	</div>
	<div class="links">
		<span class="ui-icon ui-icon-gear"></span>
	</div>
</div>