{% extends '::base.html.twig' %}

{% block body %}


<div class="ui-widget-content ui-corner-all w60">
{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
</div>

{% endblock %}

