<form onsubmit="return false;">
<input type="hidden" name="idINVENTAIRE" value="{{inventaire.id}}" />
<p>Choisir une salle : {% include 'ndjDGameBundle:Piece:selector.html.twig' with {'pieces':donjon.getpiecesopen,'options':' name=idPIECE'} %}</p>
<p>A la position (x,y) : <input type="text" name="x" value="0" size="3" />, <input type="text" name="y" value="0" size="3" /></p>
<input type="button" value="Déposer" onclick="economat_inv_deposer_submit($(this).parent());"/>
</form>