<div class="o90 center box ui-widget-content ui-corner-all w75">
<img src="{{asset('bundles/ndjdgame/images/gicon/mort.png')}}" />
<p>Tu es mort !</p>
<p><a href="javascript:void(0);" onclick="av_ressusciter(0);">Cliquez pour continuer</a></p>
</div>